.laden {
    background-size: cover;
    position: relative;
    background-color: #E5E5E5;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.h2 {
    padding: 10px;
    margin: 24px;
    color: black;
    font-size: 36px;
    font-weight: 900;
    line-height: 34px;
}

.p1 {
    padding: 10px;
    margin: 24px;
    color: black;
    line-height: 34px;
    font-size: 14px;
    line-height: 18px;
    //max-width: 50%;
}

.img {
    object-fit: cover;
    //width: 50%;
    position: right;
   }