.button:link,
.button:visited {
    text-decoration: none;
    background-color: #1A1A1A;
    color: white;
    padding: 15px 50px;
    display: inline-block;
    border: 2px;
    box-sizing: border-box;
    border-radius: 5px;
}

.button:hover {
    background-color: #3A3734;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.button:active {
    background-color: #D7BE9D;
}

.button:focus {
    background-color: white;
    color: black;
    border:black;
}

.button2:link,
.button2:visited {
    text-decoration: none;
    background-color: #1A1A1A;
    color: white;
    padding: 15px 50px;
    display: inline-block;
    border: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: white;
}